# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Jaden Wilkins
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [53]:
empty_list=[]
for i in range (1,11):
    empty_list.append(i**2)
print(empty_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [4]:
rand_list=[24,345,343,4,43,286,2,124,76543,937]

In [5]:
min(rand_list)

2

In [6]:
max(rand_list)

76543

In [8]:
sum(rand_list)

78651

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [10]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [27]:
new_list[-1:3]

['day']

In [55]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [33]:
College=("Bellarmine", "2001 Neuburg RD")

In [38]:
College[0:1]

('Bellarmine',)

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [40]:
age= int(input("Enter your age: "))
if (age>=18):
    print("This person is an adult.")
else:
    print("This person is a minor.")

Enter your age: 16
This person is a minor.

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [44]:
number= int(input("Enter a number: "))
if number%2 !=0 and number > 10:
    print("This number is odd and greater than ten.")
else:
    print("This number is not odd and greater than 10")

Enter a number: 89
This number is odd and greater than ten.

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [50]:
user_num= int(input("Enter a number: "))
if user_num%11 == 0:
    print("This number is a multiple of 11.")
else:
    print("This number is not a multiple of 11.")

Enter a number: 121
This number is a multiple of 11.

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [51]:
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']

In [52]:
list(zip(keys,values))

[(10, 'Ten'), (20, 'Twenty'), (30, 'Thirty')]

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [56]:
def maximum(*args):
    return max(args)

In [57]:
maximum(127,2345,2,567,321134,6543)

321134

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [62]:
def square_area(side):
    print('The area of the square is', side**2)

def square_perimeter(side):
    print('The perimeter of the square is', side*4)

In [63]:
square_area(12)

The area of the square is 144

In [64]:
square_perimeter(8)

The perimeter of the square is 32

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [65]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [66]:
first_num=10
while first_num<=20:
    print(first_num)
    first_num+=1

10
11
12
13
14
15
16
17
18
19
20